
.App {
  text-align: center;
}

.header-container {
  margin-bottom: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.navbar {
  position: fixed;
  width: 100%;
  left: 0;
}

img {
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.img-logo-nav {
  display: block;
  max-height:65px;
  width: auto;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  margin-bottom: 2rem;
}
h2 {
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.dropdown {
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}

button {
  margin-left: .5rem;
  margin-right: .5rem;
}